In [13]:
import pandas as pd
import numpy as np

dete_survey = pd.read_csv('dete-exit-survey-january-2014.csv', na_values = ['NaN', 'Not Stated'])
tafe_survey = pd.read_csv('tafe-employee-exit-survey-access-database-december-2013.csv', encoding = 'latin_1')

dete_survey.info()
dete_survey.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 822 entries, 0 to 821
Data columns (total 56 columns):
ID                                     822 non-null int64
SeparationType                         822 non-null object
Cease Date                             788 non-null object
DETE Start Date                        749 non-null float64
Role Start Date                        724 non-null float64
Position                               817 non-null object
Classification                         455 non-null object
Region                                 717 non-null object
Business Unit                          126 non-null object
Employment Status                      817 non-null object
Career move to public sector           822 non-null bool
Career move to private sector          822 non-null bool
Interpersonal conflicts                822 non-null bool
Job dissatisfaction                    822 non-null bool
Dissatisfaction with the department    822 non-null bool
Physical work environment              822 non-null bool
Lack of recognition                    822 non-null bool
Lack of job security                   822 non-null bool
Work location                          822 non-null bool
Employment conditions                  822 non-null bool
Maternity/family                       822 non-null bool
Relocation                             822 non-null bool
Study/Travel                           822 non-null bool
Ill Health                             822 non-null bool
Traumatic incident                     822 non-null bool
Work life balance                      822 non-null bool
Workload                               822 non-null bool
None of the above                      822 non-null bool
Professional Development               808 non-null object
Opportunities for promotion            735 non-null object
Staff morale                           816 non-null object
Workplace issue                        788 non-null object
Physical environment                   817 non-null object
Worklife balance                       815 non-null object
Stress and pressure support            810 non-null object
Performance of supervisor              813 non-null object
Peer support                           812 non-null object
Initiative                             813 non-null object
Skills                                 811 non-null object
Coach                                  767 non-null object
Career Aspirations                     746 non-null object
Feedback                               792 non-null object
Further PD                             768 non-null object
Communication                          814 non-null object
My say                                 812 non-null object
Information                            816 non-null object
Kept informed                          813 non-null object
Wellness programs                      766 non-null object
Health & Safety                        793 non-null object
Gender                                 798 non-null object
Age                                    811 non-null object
Aboriginal                             16 non-null object
Torres Strait                          3 non-null object
South Sea                              7 non-null object
Disability                             23 non-null object
NESB                                   32 non-null object
dtypes: bool(18), float64(2), int64(1), object(35)
memory usage: 258.6+ KB

,ID,SeparationType,Cease Date,DETE Start Date,Role Start Date,Position,Classification,Region,Business Unit,Employment Status,...,Kept informed,Wellness programs,Health & Safety,Gender,Age,Aboriginal,Torres Strait,South Sea,Disability,NESB
0,1,Ill Health Retirement,08/2012,1984.0,2004.0,Public Servant,A01-A04,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,N,N,N,Male,56-60,NaN,NaN,NaN,NaN,Yes
1,2,Voluntary Early Retirement (VER),08/2012,NaN,NaN,Public Servant,AO5-AO7,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,N,N,N,Male,56-60,NaN,NaN,NaN,NaN,NaN
2,3,Voluntary Early Retirement (VER),05/2012,2011.0,2011.0,Schools Officer,NaN,Central Office,Education Queensland,Permanent Full-time,...,N,N,N,Male,61 or older,NaN,NaN,NaN,NaN,NaN
3,4,Resignation-Other reasons,05/2012,2005.0,2006.0,Teacher,Primary,Central Queensland,NaN,Permanent Full-time,...,A,N,A,Female,36-40,NaN,NaN,NaN,NaN,NaN
4,5,Age Retirement,05/2012,1970.0,1989.0,Head of Curriculum/Head of Special Education,NaN,South East,NaN,Permanent Full-time,...,N,A,M,Female,61 or older,NaN,NaN,NaN,NaN,NaN

In [15]:
dete_survey.drop(dete_survey.columns[28:49], axis = 1)

,ID,SeparationType,Cease Date,DETE Start Date,Role Start Date,Position,Classification,Region,Business Unit,Employment Status,...,Work life balance,Workload,None of the above,Gender,Age,Aboriginal,Torres Strait,South Sea,Disability,NESB
0,1,Ill Health Retirement,08/2012,1984.0,2004.0,Public Servant,A01-A04,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,False,False,True,Male,56-60,NaN,NaN,NaN,NaN,Yes
1,2,Voluntary Early Retirement (VER),08/2012,NaN,NaN,Public Servant,AO5-AO7,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,False,False,False,Male,56-60,NaN,NaN,NaN,NaN,NaN
2,3,Voluntary Early Retirement (VER),05/2012,2011.0,2011.0,Schools Officer,NaN,Central Office,Education Queensland,Permanent Full-time,...,False,False,True,Male,61 or older,NaN,NaN,NaN,NaN,NaN
3,4,Resignation-Other reasons,05/2012,2005.0,2006.0,Teacher,Primary,Central Queensland,NaN,Permanent Full-time,...,False,False,False,Female,36-40,NaN,NaN,NaN,NaN,NaN
4,5,Age Retirement,05/2012,1970.0,1989.0,Head of Curriculum/Head of Special Education,NaN,South East,NaN,Permanent Full-time,...,True,False,False,Female,61 or older,NaN,NaN,NaN,NaN,NaN
5,6,Resignation-Other reasons,05/2012,1994.0,1997.0,Guidance Officer,NaN,Central Office,Education Queensland,Permanent Full-time,...,False,False,False,Female,41-45,NaN,NaN,NaN,NaN,NaN
6,7,Age Retirement,05/2012,1972.0,2007.0,Teacher,Secondary,Darling Downs South West,NaN,Permanent Part-time,...,False,False,False,Female,56-60,NaN,NaN,NaN,NaN,NaN
7,8,Age Retirement,05/2012,1988.0,1990.0,Teacher Aide,NaN,North Coast,NaN,Permanent Part-time,...,False,False,False,Female,61 or older,NaN,NaN,NaN,NaN,NaN
8,9,Resignation-Other reasons,07/2012,2009.0,2009.0,Teacher,Secondary,North Queensland,NaN,Permanent Full-time,...,False,False,False,Female,31-35,NaN,NaN,NaN,NaN,NaN
9,10,Resignation-Other employer,2012,1997.0,2008.0,Teacher Aide,NaN,NaN,NaN,Permanent Part-time,...,False,False,False,Female,46-50,NaN,NaN,NaN,NaN,NaN
10,11,Age Retirement,2012,1999.0,1999.0,Teacher,Primary,Central Office,Education Queensland,Permanent Full-time,...,False,False,False,Male,61 or older,NaN,NaN,NaN,NaN,NaN
11,12,Resignation-Move overseas/interstate,2012,2009.0,2009.0,Teacher,Secondary,Far North Queensland,NaN,Permanent Full-time,...,False,False,False,Male,31-35,NaN,NaN,NaN,NaN,NaN
12,13,Resignation-Other reasons,2012,1998.0,1998.0,Teacher,Primary,Far North Queensland,NaN,Permanent Full-time,...,False,False,False,Female,36-40,NaN,NaN,NaN,NaN,NaN
13,14,Age Retirement,2012,1967.0,2000.0,Teacher,Primary,Metropolitan,NaN,Permanent Part-time,...,True,False,False,Female,61 or older,NaN,NaN,NaN,NaN,NaN
14,15,Resignation-Other employer,2012,2007.0,2010.0,Teacher,Secondary,Central Queensland,NaN,Permanent Full-time,...,False,False,False,Male,31-35,NaN,NaN,NaN,NaN,NaN
15,16,Voluntary Early Retirement (VER),2012,1995.0,2004.0,Teacher,Secondary,Central Queensland,NaN,Permanent Full-time,...,False,False,False,Male,61 or older,NaN,NaN,NaN,NaN,NaN
16,17,Resignation-Other reasons,2012,NaN,NaN,Teacher Aide,NaN,South East,NaN,Permanent Part-time,...,False,False,False,Male,61 or older,NaN,NaN,NaN,NaN,NaN
17,18,Age Retirement,2012,1996.0,1996.0,Teacher,Primary,Central Queensland,NaN,Permanent Full-time,...,False,False,False,Female,56-60,NaN,NaN,NaN,NaN,NaN
18,19,Age Retirement,2012,2006.0,2006.0,Cleaner,NaN,Central Office,Education Queensland,Permanent Full-time,...,False,False,True,Female,61 or older,NaN,NaN,NaN,NaN,NaN
19,20,Age Retirement,2012,1989.0,1989.0,Cleaner,NaN,Central Office,Education Queensland,Permanent Full-time,...,False,False,True,Male,61 or older,NaN,NaN,NaN,NaN,NaN
20,21,Resignation-Other employer,2012,1982.0,1982.0,Teacher,Secondary,Central Queensland,NaN,Permanent Full-time,...,False,False,True,Male,56-60,NaN,NaN,NaN,NaN,NaN
21,22,Resignation-Other reasons,2012,1980.0,2009.0,Cleaner,NaN,Darling Downs South West,NaN,Permanent Part-time,...,False,False,False,Female,51-55,NaN,NaN,NaN,NaN,NaN
22,23,Resignation-Other reasons,2012,1997.0,1998.0,School Administrative Staff,NaN,Metropolitan,NaN,Permanent Part-time,...,True,False,False,Female,46-50,NaN,NaN,NaN,NaN,NaN
23,24,Resignation-Other reasons,2012,1973.0,2012.0,Teacher,Primary,North Queensland,NaN,Permanent Full-time,...,True,False,False,Female,61 or older,NaN,NaN,NaN,NaN,NaN
24,25,Age Retirement,2012,1981.0,1981.0,Teacher Aide,NaN,North Coast,NaN,Permanent Part-time,...,False,False,True,Female,61 or older,NaN,NaN,NaN,NaN,NaN
25,26,Resignation-Other reasons,2012,1995.0,2002.0,Teacher,Primary,South East,NaN,Permanent Part-time,...,True,False,False,Female,41-45,NaN,NaN,NaN,NaN,NaN
26,27,Age Retirement,2012,1974.0,1977.0,Teacher,Primary,Central Office,Education Queensland,Permanent Full-time,...,True,True,False,Male,56-60,NaN,NaN,NaN,NaN,NaN
27,28,Resignation-Other employer,2012,2005.0,2011.0,Public Servant,AO5-AO7,Central Office,Information and Technologies,Permanent Full-time,...,False,False,False,Female,21-25,Yes,NaN,NaN,NaN,NaN
28,29,Age Retirement,2012,1989.0,1989.0,Teacher Aide,NaN,Darling Downs South West,NaN,Permanent Part-time,...,False,False,False,Female,56-60,NaN,NaN,NaN,NaN,NaN
29,30,Age Retirement,2012,1975.0,2003.0,Teacher,Special Education,South East,NaN,Permanent Full-time,...,False,False,True,Female,56-60,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
792,794,Other,NaN,1996.0,2006.0,Teacher Aide,NaN,Metropolitan,NaN,Permanent Part-time,...,False,False,False,Female,61 or older,NaN,NaN,NaN,Yes,NaN
793,795,Ill Health Retirement,12/2013,2003.0,2006.0,Teacher,Primary,Metropolitan,NaN,Temporary Part-time,...,False,False,False,Male,61 or older,NaN,NaN,NaN,NaN,NaN
794,796,Resignation-Move overseas/interstate,11/2013,NaN,NaN,Cleaner,NaN,NaN,NaN,Permanent Part-time,...,False,False,False,Female,36-40,NaN,NaN,NaN,NaN,NaN
795,797,Age Retirement,NaN,1977.0,2011.0,Teacher,Primary,North Coast,NaN,Permanent Part-time,...,True,False,False,Male,56-60,NaN,NaN,NaN,NaN,NaN
796,798,Age Retirement,NaN,1970.0,1975.0,Teacher,Secondary,Far North Queensland,NaN,Permanent Full-time,...,True,False,False,Male,56-60,NaN,NaN,NaN,NaN,NaN
797,799,Resignation-Move overseas/interstate,NaN,2000.0,2013.0,Public Servant,A01-A04,South East,NaN,Permanent Part-time,...,False,False,False,Female,36-40,NaN,NaN,NaN,NaN,NaN
798,800,Resignation-Move overseas/interstate,NaN,1995.0,NaN,Teacher Aide,NaN,Darling Downs South West,NaN,Permanent Part-time,...,False,False,False,Female,36-40,NaN,NaN,NaN,NaN,NaN
799,801,Other,NaN,1981.0,2003.0,Teacher,Special Education,North Coast,NaN,Permanent Full-time,...,False,False,False,Female,51-55,NaN,NaN,NaN,NaN,NaN
800,802,Other,01/2014,2011.0,2011.0,Teacher,Primary,NaN,NaN,Permanent Full-time,...,True,False,False,Female,21-25,NaN,NaN,NaN,NaN,NaN
801,803,Ill Health Retirement,01/2014,1972.0,1976.0,Teacher,Primary,Far North Queensland,NaN,Permanent Full-time,...,False,False,False,Male,56-60,NaN,NaN,NaN,NaN,NaN
802,804,Resignation-Move overseas/interstate,12/2013,NaN,NaN,Teacher Aide,NaN,Metropolitan,NaN,Permanent Part-time,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
803,805,Resignation-Other employer,01/2014,2004.0,2007.0,Teacher,Primary,Darling Downs South West,NaN,Permanent Full-time,...,False,False,False,Female,46-50,NaN,NaN,NaN,NaN,NaN
804,806,Resignation-Other employer,01/2014,2008.0,2013.0,Teacher,Primary,Darling Downs South West,NaN,Permanent Part-time,...,False,False,False,Female,26-30,NaN,NaN,NaN,NaN,NaN
805,807,Age Retirement,NaN,1990.0,1990.0,Teacher Aide,NaN,South East,NaN,Permanent Part-time,...,True,False,False,Female,61 or older,NaN,NaN,NaN,NaN,NaN
806,808,Resignation-Other employer,12/2013,2005.0,2005.0,Cleaner,NaN,Central Queensland,NaN,Permanent Part-time,...,False,False,False,Female,41-45,NaN,NaN,NaN,NaN,NaN
807,809,Resignation-Other reasons,12/2013,2004.0,2004.0,Teacher,Primary,Central Queensland,NaN,Permanent Full-time,...,True,False,False,Female,36-40,NaN,NaN,NaN,NaN,NaN
808,810,Resignation-Other reasons,12/2013,2010.0,2010.0,Teacher Aide,NaN,NaN,NaN,Permanent Part-time,...,False,False,False,Female,26-30,NaN,NaN,NaN,NaN,NaN
809,811,Age Retirement,01/2014,1979.0,2006.0,Teacher,Primary,Far North Queensland,NaN,Permanent Full-time,...,True,True,False,Female,51-55,NaN,NaN,NaN,NaN,NaN
810,812,Age Retirement,NaN,1972.0,1991.0,Teacher,Primary,Metropolitan,NaN,Permanent Full-time,...,False,False,True,Male,61 or older,NaN,NaN,NaN,NaN,NaN
811,813,Contract Expired,12/2013,2008.0,2010.0,School Administrative Staff,A01-A04,South East,NaN,Temporary Full-time,...,True,True,False,Female,41-45,NaN,NaN,NaN,Yes,NaN
812,814,Age Retirement,01/2014,1998.0,2005.0,Teacher,Secondary,NaN,NaN,Permanent Full-time,...,False,False,True,Male,61 or older,NaN,NaN,NaN,NaN,NaN
813,815,Age Retirement,11/2013,1995.0,2007.0,Public Servant,AO5-AO7,North Coast,NaN,Permanent Full-time,...,True,True,False,Female,56-60,NaN,NaN,NaN,NaN,NaN
814,816,Age Retirement,11/2013,NaN,NaN,Cleaner,NaN,NaN,NaN,Permanent Full-time,...,False,False,True,Female,61 or older,NaN,NaN,NaN,NaN,NaN
815,817,Resignation-Other employer,01/2014,2012.0,2012.0,Teacher,Primary,Far North Queensland,NaN,Permanent Full-time,...,False,False,False,Male,21-25,NaN,NaN,NaN,NaN,NaN
816,818,Resignation-Move overseas/interstate,01/2014,2012.0,2012.0,Teacher,Secondary,North Coast,NaN,Permanent Full-time,...,False,False,False,Female,21-25,NaN,NaN,NaN,NaN,NaN
817,819,Age Retirement,02/2014,1977.0,1999.0,Teacher,Primary,Central Queensland,NaN,Permanent Part-time,...,False,True,False,Female,56-60,NaN,NaN,NaN,NaN,NaN
818,820,Age Retirement,01/2014,1980.0,1980.0,Teacher,Secondary,North Coast,NaN,Permanent Full-time,...,False,False,True,Male,51-55,NaN,NaN,NaN,NaN,NaN
819,821,Resignation-Move overseas/interstate,01/2014,2009.0,2009.0,Public Servant,A01-A04,Central Office,Education Queensland,Permanent Full-time,...,True,False,False,Female,31-35,NaN,NaN,NaN,NaN,NaN
820,822,Ill Health Retirement,12/2013,2001.0,2009.0,Teacher,Secondary,Darling Downs South West,NaN,Permanent Full-time,...,False,False,False,Female,41-45,NaN,NaN,NaN,NaN,NaN
821,823,Resignation-Move overseas/interstate,12/2013,NaN,NaN,Teacher Aide,NaN,Metropolitan,NaN,NaN,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
tafe_survey.drop(tafe_survey.columns[17:66], axis = 1)

,Record ID,Institute,WorkArea,CESSATION YEAR,Reason for ceasing employment,Contributing Factors. Career Move - Public Sector,Contributing Factors. Career Move - Private Sector,Contributing Factors. Career Move - Self-employment,Contributing Factors. Ill Health,Contributing Factors. Maternity/Family,...,Contributing Factors. Study,Contributing Factors. Travel,Contributing Factors. Other,Contributing Factors. NONE,Gender. Â Â Â Â What is your Gender?,CurrentAge. Â Â Â Â Current Age,Employment Type. Â Â Â Â Employment Type,Classification. Â Â Â Â Classification,LengthofServiceOverall. Overall Length of Service at Institute (in years),LengthofServiceCurrent. Length of Service at current workplace (in years)
0,634133009996094000,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2010.0,Contract Expired,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Female,26 Â– 30,Temporary Full-time,Administration (AO),1-2,1-2
1,634133654064531000,Mount Isa Institute of TAFE,Non-Delivery (corporate),2010.0,Retirement,-,-,-,-,-,...,-,Travel,-,-,NaN,NaN,NaN,NaN,NaN,NaN
2,634138845606563000,Mount Isa Institute of TAFE,Delivery (teaching),2010.0,Retirement,-,-,-,-,-,...,-,-,-,NONE,NaN,NaN,NaN,NaN,NaN,NaN
3,634139903350000000,Mount Isa Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,-,-,-,-,-,...,-,Travel,-,-,NaN,NaN,NaN,NaN,NaN,NaN
4,634146578511788000,Southern Queensland Institute of TAFE,Delivery (teaching),2010.0,Resignation,-,Career Move - Private Sector,-,-,-,...,-,-,-,-,Male,41 Â– 45,Permanent Full-time,Teacher (including LVT),3-4,3-4
5,634147506906311000,Southern Queensland Institute of TAFE,Delivery (teaching),2010.0,Resignation,-,-,-,-,-,...,-,-,Other,-,Female,56 or older,Contract/casual,Teacher (including LVT),7-10,7-10
6,634152007975694000,Barrier Reef Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,-,Career Move - Private Sector,-,-,Maternity/Family,...,-,-,Other,-,Male,20 or younger,Temporary Full-time,Administration (AO),3-4,3-4
7,634153745310374000,Southern Queensland Institute of TAFE,Delivery (teaching),2010.0,Resignation,-,-,-,-,-,...,-,-,Other,-,Male,46 Â– 50,Permanent Full-time,Teacher (including LVT),3-4,3-4
8,634157899735969000,Southern Queensland Institute of TAFE,Delivery (teaching),2009.0,Resignation,-,-,-,-,-,...,-,-,Other,-,Female,36 Â– 40,Temporary Full-time,Tutor,3-4,3-4
9,634158812168312000,Barrier Reef Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,Career Move - Public Sector,-,-,-,-,...,-,-,Other,-,Female,21 Â– 25,Permanent Full-time,Administration (AO),1-2,1-2
10,634158825838625000,Barrier Reef Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,Career Move - Public Sector,-,-,-,-,...,-,-,-,-,Female,41 Â– 45,Temporary Part-time,Administration (AO),Less than 1 year,Less than 1 year
11,634171926251752000,Barrier Reef Institute of TAFE,Delivery (teaching),2010.0,Retrenchment/ Redundancy,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Male,56 or older,Permanent Part-time,Tutor,11-20,11-20
12,634171929735346000,Barrier Reef Institute of TAFE,Delivery (teaching),2010.0,Retrenchment/ Redundancy,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Male,51-55,Permanent Full-time,Teacher (including LVT),3-4,3-4
13,634172522831440000,Barrier Reef Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,-,Career Move - Private Sector,-,-,-,...,-,-,-,-,Female,31 Â– 35,Temporary Full-time,Administration (AO),11-20,Less than 1 year
14,634172609223344000,Central Queensland Institute of TAFE,Delivery (teaching),2010.0,Resignation,-,Career Move - Private Sector,-,-,-,...,-,-,-,-,Female,31 Â– 35,Permanent Part-time,Teacher (including LVT),7-10,7-10
15,634176076134409000,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,-,-,-,-,-,...,-,-,Other,-,Female,46 Â– 50,Permanent Part-time,Technical Officer (TO),11-20,11-20
16,634177007457719000,Brisbane North Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,634177053480062000,Brisbane North Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,Career Move - Public Sector,-,-,-,-,...,-,-,-,-,Female,31 Â– 35,Permanent Full-time,Administration (AO),7-10,1-2
18,634177938010971000,Brisbane North Institute of TAFE,Delivery (teaching),2010.0,Resignation,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,634181972647250000,Southbank Institute of Technology,Non-Delivery (corporate),2010.0,Resignation,-,-,-,-,-,...,-,-,-,NONE,NaN,NaN,NaN,NaN,NaN,NaN
20,634182099183434000,Brisbane North Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,-,-,-,-,-,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
21,634183070751313000,Brisbane North Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,-,Career Move - Private Sector,-,-,-,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
22,634184748867652000,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,Career Move - Public Sector,-,-,-,-,...,-,-,Other,-,Male,26 Â– 30,Temporary Full-time,Administration (AO),5-6,5-6
23,634190678592028000,Central Queensland Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,-,-,-,-,-,...,-,-,-,-,Female,26 Â– 30,Contract/casual,Administration (AO),Less than 1 year,Less than 1 year
24,634190743855375000,Central Queensland Institute of TAFE,Delivery (teaching),2010.0,Resignation,-,Career Move - Private Sector,-,-,-,...,-,-,-,-,Female,31 Â– 35,Permanent Part-time,Teacher (including LVT),7-10,7-10
25,634190913957094000,Brisbane North Institute of TAFE,Non-Delivery (corporate),2010.0,Contract Expired,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Female,41 Â– 45,Temporary Full-time,Administration (AO),Less than 1 year,Less than 1 year
26,634193418130687000,Mount Isa Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,-,Career Move - Private Sector,-,-,-,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
27,634193458894281000,Brisbane North Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,Career Move - Public Sector,-,-,-,-,...,-,-,-,-,Male,56 or older,Temporary Full-time,Administration (AO),More than 20 years,7-10
28,634195084065465000,Central Queensland Institute of TAFE,Delivery (teaching),2010.0,Retirement,-,-,-,-,-,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
29,634199393528500000,Barrier Reef Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,-,Career Move - Private Sector,-,-,-,...,-,-,-,-,Female,31 Â– 35,Temporary Full-time,Administration (AO),Less than 1 year,Less than 1 year
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
672,635013239645781000,Tropical North Institute of TAFE,Non-Delivery (corporate),2013.0,Retirement,-,-,-,Ill Health,-,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
673,635016601672188000,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2013.0,Retrenchment/ Redundancy,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Male,41 Â– 45,Temporary Full-time,Administration (AO),1-2,1-2
674,635017016857500000,Sunshine Coast Institute of TAFE,Non-Delivery (corporate),2013.0,Retrenchment/ Redundancy,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Female,51-55,Temporary Part-time,Operational (OO),Less than 1 year,Less than 1 year
675,635017508419688000,Tropical North Institute of TAFE,Delivery (teaching),2013.0,Resignation,-,-,-,-,-,...,-,-,Other,-,Male,51-55,Temporary Full-time,Teacher (including LVT),Less than 1 year,Less than 1 year
676,635019417764844000,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,Career Move - Public Sector,-,-,-,-,...,-,-,-,-,Female,41 Â– 45,Contract/casual,Administration (AO),1-2,Less than 1 year
677,635021852425625000,Brisbane North Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,-,-,-,-,-,...,-,-,Other,-,Female,36 Â– 40,Temporary Full-time,Administration (AO),Less than 1 year,Less than 1 year
678,635025280694687000,Brisbane North Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,-,Career Move - Private Sector,-,-,-,...,-,-,-,-,Male,51-55,Permanent Full-time,Administration (AO),3-4,3-4
679,635027942448125000,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,-,-,-,Ill Health,-,...,-,-,-,-,Female,56 or older,Temporary Part-time,Operational (OO),1-2,1-2
680,635030575197812000,Brisbane North Institute of TAFE,Delivery (teaching),2013.0,Retrenchment/ Redundancy,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Male,41 Â– 45,Permanent Full-time,Administration (AO),5-6,3-4
681,635031425678438000,Central Queensland Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,-,-,-,-,-,...,-,-,Other,-,Female,26 Â– 30,Temporary Full-time,Administration (AO),Less than 1 year,Less than 1 year
682,635035655232813000,Mount Isa Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,Career Move - Public Sector,-,-,-,-,...,-,-,-,-,Female,26 Â– 30,Permanent Part-time,Administration (AO),Less than 1 year,Less than 1 year
683,635037423338906000,Central Queensland Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,-,-,-,-,-,...,-,-,Other,-,Female,41 Â– 45,Temporary Full-time,Administration (AO),Less than 1 year,Less than 1 year
684,635037453598125000,Brisbane North Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,Career Move - Public Sector,-,-,-,-,...,-,-,-,-,Male,41 Â– 45,Contract/casual,Administration (AO),3-4,Less than 1 year
685,635040151398125000,Brisbane North Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,-,-,-,-,-,...,-,-,-,-,Female,26 Â– 30,Temporary Full-time,Technical Officer (TO),1-2,1-2
686,635042565856250000,Brisbane North Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,Career Move - Public Sector,-,-,-,-,...,-,-,-,-,Female,41 Â– 45,Temporary Full-time,Administration (AO),5-6,5-6
687,635042809083906000,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2013.0,Termination,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Female,36 Â– 40,Temporary Full-time,Administration (AO),3-4,3-4
688,635047878104375000,Tropical North Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,-,-,-,-,-,...,-,-,-,NONE,Female,46 Â– 50,Permanent Part-time,Professional Officer (PO),5-6,5-6
689,635047983761250000,Central Queensland Institute of TAFE,Delivery (teaching),2013.0,Resignation,-,-,-,Ill Health,-,...,-,-,-,-,Male,41 Â– 45,Permanent Full-time,Teacher (including LVT),Less than 1 year,Less than 1 year
690,635049577295469000,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,-,-,-,Ill Health,-,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
691,635049585605000000,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,-,-,-,Ill Health,-,...,-,-,-,-,Female,56 or older,Permanent Part-time,Operational (OO),3-4,3-4
692,635059151164844000,Mount Isa Institute of TAFE,Delivery (teaching),2013.0,Contract Expired,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
693,635059949710781000,Tropical North Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,-,Career Move - Private Sector,-,-,-,...,-,-,-,-,Female,26 Â– 30,Temporary Full-time,Administration (AO),1-2,1-2
694,635065177031604000,Sunshine Coast Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,-,Career Move - Private Sector,-,-,-,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
695,635065277683125000,Southern Queensland Institute of TAFE,Delivery (teaching),2013.0,Contract Expired,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Female,56 or older,Temporary Part-time,Teacher (including LVT),Less than 1 year,Less than 1 year
696,635065973820625000,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,-,Career Move - Private Sector,-,-,-,...,-,-,-,-,Male,21 Â– 25,Temporary Full-time,Operational (OO),5-6,5-6
697,635066785175197000,Barrier Reef Institute of TAFE,Delivery (teaching),2013.0,Resignation,Career Move - Public Sector,-,-,-,-,...,-,-,-,-,Male,51-55,Temporary Full-time,Teacher (including LVT),1-2,1-2
698,635067716405666000,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,Career Move - Public Sector,-,-,-,-,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
699,635070442972541000,Tropical North Institute of TAFE,Delivery (teaching),2013.0,Resignation,-,-,-,-,-,...,-,-,Other,-,Female,51-55,Permanent Full-time,Teacher (including LVT),5-6,1-2
700,635071153170979000,Southbank Institute of Technology,Non-Delivery (corporate),2013.0,Contract Expired,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Female,41 Â– 45,Temporary Full-time,Professional Officer (PO),1-2,1-2
701,635073030973791000,Tropical North Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,-,-,Career Move - Self-employment,-,-,...,-,Travel,-,-,Female,26 Â– 30,Contract/casual,Administration (AO),3-4,1-2

In [19]:
tafe_survey.columns

Index(['Record ID', 'Institute', 'WorkArea', 'CESSATION YEAR',
       'Reason for ceasing employment',
       'Contributing Factors. Career Move - Public Sector ',
       'Contributing Factors. Career Move - Private Sector ',
       'Contributing Factors. Career Move - Self-employment',
       'Contributing Factors. Ill Health',
       'Contributing Factors. Maternity/Family',
       'Contributing Factors. Dissatisfaction',
       'Contributing Factors. Job Dissatisfaction',
       'Contributing Factors. Interpersonal Conflict',
       'Contributing Factors. Study', 'Contributing Factors. Travel',
       'Contributing Factors. Other', 'Contributing Factors. NONE',
       'Main Factor. Â Â Â Â Which of these was the main factor for leaving?',
       'InstituteViews. Topic:1. I feel the senior leadership had a clear vision and direction',
       'InstituteViews. Topic:2. I was given access to skills training to help me do my job better',
       'InstituteViews. Topic:3. I was given adequate opportunities for personal development',
       'InstituteViews. Topic:4. I was given adequate opportunities for promotion within %Institute]Q25LBL%',
       'InstituteViews. Topic:5. I felt the salary for the job was right for the responsibilities I had',
       'InstituteViews. Topic:6. The organisation recognised when staff did good work',
       'InstituteViews. Topic:7. Management was generally supportive of me',
       'InstituteViews. Topic:8. Management was generally supportive of my team',
       'InstituteViews. Topic:9. I was kept informed of the changes in the organisation which would affect me',
       'InstituteViews. Topic:10. Staff morale was positive within the Institute',
       'InstituteViews. Topic:11. If I had a workplace issue it was dealt with quickly',
       'InstituteViews. Topic:12. If I had a workplace issue it was dealt with efficiently',
       'InstituteViews. Topic:13. If I had a workplace issue it was dealt with discreetly',
       'WorkUnitViews. Topic:14. I was satisfied with the quality of the management and supervision within my work unit',
       'WorkUnitViews. Topic:15. I worked well with my colleagues',
       'WorkUnitViews. Topic:16. My job was challenging and interesting',
       'WorkUnitViews. Topic:17. I was encouraged to use my initiative in the course of my work',
       'WorkUnitViews. Topic:18. I had sufficient contact with other people in my job',
       'WorkUnitViews. Topic:19. I was given adequate support and co-operation by my peers to enable me to do my job',
       'WorkUnitViews. Topic:20. I was able to use the full range of my skills in my job',
       'WorkUnitViews. Topic:21. I was able to use the full range of my abilities in my job. ; Category:Level of Agreement; Question:YOUR VIEWS ABOUT YOUR WORK UNIT]',
       'WorkUnitViews. Topic:22. I was able to use the full range of my knowledge in my job',
       'WorkUnitViews. Topic:23. My job provided sufficient variety',
       'WorkUnitViews. Topic:24. I was able to cope with the level of stress and pressure in my job',
       'WorkUnitViews. Topic:25. My job allowed me to balance the demands of work and family to my satisfaction',
       'WorkUnitViews. Topic:26. My supervisor gave me adequate personal recognition and feedback on my performance',
       'WorkUnitViews. Topic:27. My working environment was satisfactory e.g. sufficient space, good lighting, suitable seating and working area',
       'WorkUnitViews. Topic:28. I was given the opportunity to mentor and coach others in order for me to pass on my skills and knowledge prior to my cessation date',
       'WorkUnitViews. Topic:29. There was adequate communication between staff in my unit',
       'WorkUnitViews. Topic:30. Staff morale was positive within my work unit',
       'Induction. Did you undertake Workplace Induction?',
       'InductionInfo. Topic:Did you undertake a Corporate Induction?',
       'InductionInfo. Topic:Did you undertake a Institute Induction?',
       'InductionInfo. Topic: Did you undertake Team Induction?',
       'InductionInfo. Face to Face Topic:Did you undertake a Corporate Induction; Category:How it was conducted?',
       'InductionInfo. On-line Topic:Did you undertake a Corporate Induction; Category:How it was conducted?',
       'InductionInfo. Induction Manual Topic:Did you undertake a Corporate Induction?',
       'InductionInfo. Face to Face Topic:Did you undertake a Institute Induction?',
       'InductionInfo. On-line Topic:Did you undertake a Institute Induction?',
       'InductionInfo. Induction Manual Topic:Did you undertake a Institute Induction?',
       'InductionInfo. Face to Face Topic: Did you undertake Team Induction; Category?',
       'InductionInfo. On-line Topic: Did you undertake Team Induction?process you undertook and how it was conducted.]',
       'InductionInfo. Induction Manual Topic: Did you undertake Team Induction?',
       'Workplace. Topic:Did you and your Manager develop a Performance and Professional Development Plan (PPDP)?',
       'Workplace. Topic:Does your workplace promote a work culture free from all forms of unlawful discrimination?',
       'Workplace. Topic:Does your workplace promote and practice the principles of employment equity?',
       'Workplace. Topic:Does your workplace value the diversity of its employees?',
       'Workplace. Topic:Would you recommend the Institute as an employer to others?',
       'Gender. Â Â Â Â What is your Gender?', 'CurrentAge. Â Â Â Â Current Age',
       'Employment Type. Â Â Â Â Employment Type',
       'Classification. Â Â Â Â Classification',
       'LengthofServiceOverall. Overall Length of Service at Institute (in years)',
       'LengthofServiceCurrent. Length of Service at current workplace (in years)'],
      dtype='object')